rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Par défaut, fermer l'accès direct aux autres documents non spécifiés
    match /{document=**} {
      allow read, write: if false;
    }

    // Autoriser la lecture et l'écriture publiques sur le document 'data' de la collection 'portfolio'
    match /portfolio/data {
      allow read, write: if true;
    }
  }
}
